/* Colors
#1b262c
#0f4c75
#3282b8
#bbe1fa */

/* Selector Universal */
* {
    margin: 0;
    padding: 0;
}

/* Selector de etiqueta */
/* body {
    background-color: red;
} */

/* selector descendente */
/* body header div nav ol li a  */

/* Selector de clase */
/* .link {
    color: royalblue;
} */

/* selector de id */
/* #portafolio {

} */

/* font-family: "PT Serif", serif;

font-family: "Open Sans", sans-serif;

font-family: "Roboto", sans-serif;

font-family: "Fjalla One", sans-serif;

font-family: "Source Sans Pro", sans-serif; */

body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 24px;
    line-height: 1.5em;
    letter-spacing: -1px;
}

h2 {
    margin: 20px;
}

h1 strong {
    color: #3282b8;
}

.header {
    background-color: #1b262c;
    color: #bbe1fa;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    flex-wrap: wrap;
}

.header a {
    color: #bbe1fa;
    text-decoration: none;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding-right: 20px;
}

.logo {
    padding: 10px;
    display: flex;
}

.logo-img {
    background-color: #bbe1fa;
}

.logo-text {
    margin: 10px;
    font-size: 24px;
}

ol,
ul {
    list-style: none;
}

.hero {
    display: flex;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: #bbe1fa;
    background-color: #1b262c;
}

.hero-text {
    text-align: center;
    margin-right: 30px;
}

.hero-img {
    border-radius: 4px;
    width: 200px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(187, 225, 250, 0.5);
}

.portfolio {
    background-color: #eeeeee;
}

.portfolio-title {
    margin-top: 20px;
    margin-left: 30px;
    color: #1b262c;
}

.project {
    margin: 30px;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.65);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    background-color: white;
    padding: 10px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.project-details {
    flex-wrap: wrap;
}

.project-title {
    font-size: 16px;
}

.project-course {
    font-size: 0.8em;
}

.project-date {
    font-size: 0.8em;
}

.project-text {
    margin-top: 6px;
    font-size: 1em;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexbox {
    display: flex;
    height: 200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    flex-shrink: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #3282b8;
    flex-wrap: wrap;
}

.footer-left-items {
    margin-right: 20px;
}

.footer-img {
    height: 15px;
    width: 15px;
    padding-left: 10px;
    vertical-align: middle;
}

/* .footer-right-items {
;   
} */

.event-super-title {
    margin-top: 20px;
    margin-left: 20px;
    color: #1b262c;
}

.event-url {
    margin-left: 20px;
}

.event-title {
    margin-top: 20px;
    margin-left: 20px;
    color: #1b262c;
}

.event-description {
    margin-top: 20px;
    margin-left: 20px;
    color: #1b262c;
}

.contact {
    margin-top: 20px;
    margin-left: 20px;
    color: #1b262c;
}

.contact-email {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #1b262c;
}

/* @media screen and (max-width: 1400px) {
    body {
        border: 10px solid blue;
    }
} */

@media screen and (max-width: 1024px) {
    /* body {
        border: 10px solid red;
    } */
    .project-details {
        width: auto;
    }
    .project-title {
        font-size: 1em;
    }
}

@media screen and (max-width: 767px) {
    /* body {
        border: 10px solid green;
    } */
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        flex-direction: column;
    }
    .header ol li {
        height: 50px;
    }
    .header a {
        display: block;
        text-align: center;
    }
    .portfolio-title {
        font-size: 16px;
    }
    .hero {
        flex-wrap: wrap;
    }
    .hero-text {
        position: relative;
        margin-right: 0px;
        padding-bottom: 400px;
        bottom: -350px;
        z-index: 1;
    }
    .hero-img-position {
        padding-top: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}

/* @media screen and (max-width: 480px) {
    body {
        border: 10px solid white;
    }
} */